.v-enter-active,
.v-leave-active {
  /* アニメーションの時間やイージングなどを設定 */
  transition: opacity 500ms ease-out;
}

/* フェードイン */
.v-enter {
  /* フェードインの初期状態 */
  opacity: 0;
}

.v-enter-to {
  /* フェードインの終了状態 */
  opacity: 1;
}

/* フェードアウト */
.v-leave {
  /* フェードアウトの初期状態 */
  opacity: 1;
}

.v-leave-to {
  /* フェードアウトの終了状態 */
  opacity: 0;
}

/* vue_anime_animejs.html */
div,
ul,
li,
a,
p {
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-size: 14px;
}

div {
  width: 90px;
}

.menu {
  width: 90px;
  text-decoration: none;
  background-color: #9999ff;
  color: #000;
  border: solid 1px #6666cc;
  display: block;
  height: 30px;
  line-height: 30px;
  text-align: center;
}

.menu-item {
  width: 90px;
  text-decoration: none;
  background-color: #ccccff;
  color: #000;
  border: solid 1px #6666cc;
  border-top: none;
  display: block;
  /* height: 30px; */
  /* line-height: 30px; */
  text-align: center;
  padding: 10px 0;
}
